@font-face {
    font-family: 'mytupiregular';
    src: url('css/fonts/mytupi-webfont.woff2') format('woff2'),
    url('css/fonts/mytupi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,html {
    margin:0;
    padding:0;
    font-family: 'mytupiregular', Arial, sans-serif;
}

html {
    font-size:62.5%;
}
h2 {
    margin: 0;
}

header {
    background-color: #ffc935;
}
main {
    background-color: white;
}

#profile {
    height: 290px;
}
#portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 550px;
}
#photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 211px;
    height: 211px;
    margin-top: 29px;
    margin-bottom: 10px;
    border: 8px solid white;

}

#inner-photo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    width: 194px;
    height: 194px;
}
#photo img{
    height: 90%;
    border-radius: 30%;
}

#name {
    color: #383838;
    font-size: 6.8em;
    font-weight: bold;
    text-align: center;
}

#profession {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #383838;
    color: #ffc935;
    font-size: 2.5em;
    font-style: italic;
    height: 49px;
    width: 100%;
}

#contact {
    height: 265px;
}

#contact .title-section {
    margin-bottom: 17px;
}
.title-section {
    text-align: center;
    font-weight: normal;
}
header .title-section {
    color: #383838;
    font-size: 3em;
}

.contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 35px;
    margin-bottom: 13px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-icon {
    height:100%;
    width: 74px;
    background-color: #383838;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.mail-icon, .phone-icon, .home-icon, .web-icon {
    width:30%;
    fill: #ffc935;
    margin-right: 8px;
}

.contact-text {
    font-size: 1.5em;
    margin-left: 5px;
    font-weight: normal;
}



#hobbies {
    height: 322px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hobbies-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 27px;
    max-width: 350px;
}

.hobbies-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 133px;
    margin-bottom: 12px;
}
.hobbies-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #383838;
}
.plane-icon {
    width:85%;
    fill: #ffc935;
}
.book-icon {
    width:65%;
    fill: #ffc935;
}
.note-icon {
    width:70%;
    fill: #ffc935;
}
.pencil-icon {
    width:60%;
    fill: #ffc935;
}
.hobbies-text {
    font-size: 1.8em;
    margin-left: 14px;
}
.title-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;

}
.person-icon {
    fill: #ffc935;
    max-width: 112px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

}

main .title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #383838;
    color: white;
    height: 50px;
    padding-left: 10px;
    font-size: 3em;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.profile-paragraf {
    width: 85%;
    margin-left: 30px;
    font-size: 1.2em;
}
.profile-paragraf:first-of-type {
    margin-top: 0;
}

#education .title-icon {
    padding-top: 10px;

}
.hat-icon {
    fill: #ffc935;
    width: 74px;
    padding-right: 19px;
    padding-left: 19px;
}
.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 108px;
}

.time-line {
    width: 5px;
    background-color: #ffc935;
    height: 100%;
    margin-left: 53px;
}
.time-line:after {
    content: '';
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #ffc935;
    display: inline-block;
    position: relative;
    left: -6px;
    top:14px;
}


.paragraf-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.2em;
    margin-left: 20px;
    margin-right: 27px;
}
.paragraf-section span:nth-of-type(1){
    font-weight: 800;
}
.paragraf-section span:nth-of-type(2), .paragraf-section span:nth-of-type(3) {
    font-weight: 700;
}
#experience .title-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.screen-icon {
    fill: #ffc935;
    max-width: 60px;
    min-width: 60px;
    padding-bottom: 8px;
    padding-left: 26px;
    padding-right: 26px;
}
#skills .title-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.settings-icon {
    fill: #ffc935;
    max-width: 70px;
    min-width: 70px;
    padding-left: 21px;
    padding-right: 21px;
}
.skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skill-slot {
    width: 140px;
}

.chart {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: #999;
    font-size: 14px;
    text-align: center;
}
.technology {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}

@media only screen and (min-width:50em) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

    }
    header {
        width: 41vw;

    }
    main {
        width: 59vw;

    }
    .time-line-shrink {
        height: 94px;

    }
    #profile {
        height: 270px;

    }
    #education {
        height: 337px;

    }
    #education .title-icon {
        padding-top: 0;
        padding-bottom: 11px;

    }
    #education .content-container {
        height: 120px;

    }
    #experience {
        height: 224px;

    }
    #experience .title-icon {
        padding-top: 0;

    }
    #skills .title-icon {
        padding-top: 0;

    }

}

@media only screen and (min-width:64em) {
    #portrait {
        height: 700px;

    }

    #photo {
        width: 270px;
        height: 270px;
        margin-top: 56px;
        border: 10px solid white;

    }

    #inner-photo-container {
        width: 251px;
        height: 251px;

    }

    #name {
        font-size: 8.9em;

    }

    #profession {
        height: 61px;
        font-size: 3.2em;

    }

    #contact {
        height: 363px;

    }

    header .title-section {
        font-size: 3.9em;

    }

    #contact .title-section {
        margin-top: 7px;
        margin-bottom: 30px;

    }

    .contact-info {
        height: 44px;
        margin-bottom: 21px;

    }

    .contact-icon {
        width: 97px;

    }

    .contact-text {
        font-size: 1.9em;

    }

    .hobbies-info {
        width: 160px;
        margin-top: 7px;

    }

    .hobbies-icon {
        width: 60px;
        height: 60px;

    }

    .hobbies-text {
        font-size: 2.2em;

    }

    main .title-section {
        height: 61px;
        font-size: 3.7em;

    }

    #profile {
        height: 360px;

    }

    #profile .title-icon {
        padding-top: 44px;

    }

    .person-icon {
        max-width: 139px;

    }

    .hat-icon {
        width: 101px;

    }

    .screen-icon {
        max-width: 87px;

    }

    .settings-icon {
        max-width: 97px;

    }

    .profile-paragraf {
        margin-left: 40px;
        font-size: 1.7em;

    }

    .time-line {
        margin-left: 67px;

    }

    .time-line:after {
        height: 20px;
        width: 20px;
        left: -7px;
        top: 17px;

    }

    .paragraf-section {
        font-size: 1.6em;

    }

    #education {
        height: 428px;

    }

    .time-line-shrink {
        height: 125px;

    }

    #experience {
        height: 289px;

    }

    #education .content-container, #experience .content-container {
        height: 127px;

    }

    #experience .content-container {
        margin-top: 13px;

    }

    .skill-slot {
        width: 170px;

    }
}

@media only screen and (min-width:85.375em) {
    #portrait {
        height: 903px;

    }
    #photo {
        height: 354px;
        width: 354px;
        border: 16px solid white;
        margin-top: 87px;

    }
    #inner-photo-container {
        width: 332px;
        height: 332px;

    }
    #name {
        font-size: 11.6em;

    }
    #profession {
        height: 79px;
        font-size: 4.3em;

    }
    header .title-section {
        font-size: 5.2em;

    }
    #contact {
        height: 474px;

    }
    #contact .title-section {
        margin-top: 23px;
        margin-bottom: 40px;

    }
    .contact-info {
        height: 59px;
        margin-bottom: 26px;

    }
    .contact-icon {
        width: 130px;

    }
    .contact-text {
        font-size: 2.5em;

    }
    #hobbies {
        height: 521px;

    }
    .hobbies-icon {
        width: 80px;
        height: 80px;

    }
    .hobbies-info-container {
        max-width: 380px;

    }
    .hobbies-info {
        width: 210px;

    }
    .hobbies-text {
        font-size: 2.9em;

    }
    .hobbies-info-container {
        max-width: 500px;
        margin-top: 39px;

    }
    #profile {
        height: 447px;

    }
    #profile .title-icon {
        padding-top: 53px;

    }
    main .title-section {
        height: 83px;

    }
    .person-icon {
        max-width: 175px;

    }
    .hat-icon {
        width: 127px;
        margin-left: 5px;
        margin-right: 5px;

    }
    .screen-icon {
        max-width: 103px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .settings-icon {
        max-width: 103px;
        margin-left: 15px;
        margin-right: 15px;

    }
    .profile-paragraf {
        margin-left: 50px;
        font-size: 2.1em;

    }
    .paragraf-section {
        font-size: 2.1em;

    }
    .time-line {
        margin-left: 83px;
        width: 6px;

    }
    #education {
        height: 550px;

    }
    .time-line:after {
        height: 28px;
        width: 28px;
        left: -11px;
        top: 25px;

    }
    #education .content-container, #experience .content-container {
        height: 183px;

    }
    .time-line-shrink {
        height: 163px;

    }
    #experience {
        height: 380px;

    }
    #experience .content-container {
        margin-top: 0;

    }
    #skills {
        height: 550px;

    }
    .percent {
        font-size: 2em;

    }
    .technology {
        font-size: 2.1em;
        margin-left: 12px;

    }
    .skill-slot {
        width: 261px;

    }
    .skills-container {
        margin-top: 37px;
        margin-left: 22px;

    }

}

@media only screen and (min-width:120em) {
    #portrait {
        height: 1200px;

    }
    #photo {
        height: 501px;
        width: 501px;
        border: 18px solid white;
        margin-top: 119px;
        margin-bottom: 32px;

    }
    #inner-photo-container {
        width: 462px;
        height: 462px;

    }
    #name {
        line-height: 0.99;
        font-size: 16em;

    }
    #profession {
        height: 108px;
        font-size: 5.9em;
        margin-top: 15px;

    }
    header .title-section {
        font-size: 7.1em;

    }
    #contact {
        height: 671px;

    }
    #contact .title-section {
        margin-top: 48px;
        margin-bottom: 57px;

    }
    .contact-info {
        height: 87px;
        margin-bottom: 33px;

    }
    .contact-icon {
        width: 180px;

    }
    .contact-text {
        font-size: 3.5em;
        margin-left: 10px;

    }
    .mail-icon, .phone-icon, .home-icon, .web-icon {
        margin-right: 25px;

    }
    #hobbies {
        height: 718px;

    }
    .hobbies-icon {
        width: 110px;
        height: 110px;

    }
    .hobbies-text {
        font-size: 3.9em;

    }
    .hobbies-info {
        width: 270px;
        margin-top: 20px;

    }
    .hobbies-info-container {
        max-width: 900px;
        margin-top: 45px;

    }
    main .title-section {
        height: 115px;
        font-size: 6.8em;

    }
    .person-icon {
        max-width: 260px;

    }
    .hat-icon {
        width: 172px;
        margin-left: 25px;
        margin-right: 25px;

    }
    .screen-icon {
        max-width: 138px;
        margin-left: 35px;
        margin-right: 35px;

    }
    .settings-icon {
        max-width: 138px;
        margin-left: 40px;
        margin-right: 40px;

    }
    #profile {
        height: 618px;

    }
    .profile-paragraf {
        font-size: 3em;
        margin-left: 70px;

    }
    #profile .title-icon {
        padding-top: 70px;
        height: 230px;

    }
    #education {
        height: 778px;

    }
    .paragraf-section {
        font-size: 3em;

    }
    .time-line {
        margin-left: 124px;
        margin-right: 30px;
        width: 8px;

    }
    .time-line-shrink {
        height: 234px;

    }

    .time-line:after {
        height: 37px;
        width: 37px;
        left: -15px;
        top: 33px;

    }
    #education .content-container, #experience .content-container {
        height: 243px;

    }
    #education .title-icon {
        padding-bottom: 23px;

    }
    #experience {
        height: 535px;

    }
    #experience .title-icon {
        padding-bottom: 20px;

    }
    .percent {
        font-size: 2.4em;

    }
    .technology {
        font-size: 2.9em;

    }
    .skill-slot {
        width: 355px;

    }
    .skills-container {
        margin-left: 55px;

    }

}

